---
const { lang } = Astro.props;
const imprintLink = lang === 'en' ? '/en/imprint' : '/impressum';
const imprintText = lang === 'en' ? 'Imprint' : 'Impressum';
const privacyLink = lang === 'en' ? '/en/privacy' : '/datenschutz';
const privacyText = lang === 'en' ? 'Privacy' : 'Datenschutz';
const contactLink = '/#contact';
const contactText = lang === 'en' ? 'Contact' : 'Kontakt';
---
<footer class="bg-secondary text-white py-8 mt-12 text-sm">
  <div class="max-w-5xl mx-auto px-4 flex flex-col md:flex-row md:justify-between md:items-start">
    <div class="mb-6 md:mb-0 text-center md:text-left space-y-1">
      <p>Name: Enactus Karlsruhe e.V.</p>
      <p>
        Email:
        <a href="mailto:teamvorstand@karlsruhe.enactus.team" class="hover:underline text-primary">
          teamvorstand@karlsruhe.enactus.team
        </a>
      </p>
      <p>Adresse: Adenauerring 7, 76131 Karlsruhe</p>
    </div>
    <div class="flex justify-center md:justify-end space-x-6">
      <a href={imprintLink} class="hover:underline">{imprintText}</a>
      <a href={privacyLink} class="hover:underline">{privacyText}</a>
      <a href={contactLink} class="hover:underline">{contactText}</a>
    </div>
  </div>
  <p class="text-center mt-4">&copy; {new Date().getFullYear()} BASOLA</p>
</footer>
